<%# individual vids %>
<div class="video-item">
    <video width="320" height="240" controls>
     <source src="<%= Rails.root.join('../../VideosC', video_file) %>" type="video/mp4">
     there is a vid here
    </video>
</div>