<%# consumer/app/views/videos/show.html.erb %>
<div class="container mt-4">
  <h1><%= @video_name %></h1>
  
  <div class="ratio ratio-16x9">
    <video controls>
      <source src="<%= video_path(@video_name) %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <%= link_to 'Back to all videos', root_path, class: 'btn btn-secondary mt-3' %>
</div>